main {
    background-color: rgb(185, 185, 185);
    section {
        .ArticleMain1 {
            display: flex;
            justify-content: center;
            background-image: url(../img/Index\ 3.jpeg);
            .DivMain1 {
                width: 1000px;
                height: 570px;
                background-image: url(../img/Index1.jpeg); 
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h1 {
                    width: 400px;
                    height: 320px;
                    font-size: 70px;
                    color: rgb(87, 87, 87);
                }
                p {
                    font-size: 20px;
                    margin-top: 50px;
                }
            }
        }
        .ArticleMain2 {
            display: flex;
            flex-direction: row;
            justify-content: end;
            background-image: url(../img/Index2.jpeg);
            background-repeat: no-repeat;
            height: 570px;
            .DivMain2 {
                margin-top: 70px;
                width: 640px;
                height: 350px;
                font-size: 40px;  
                margin-right: 100px;
            }
        }
    }
}
@media screen and (max-width:426px){
    main{
        section{
            .ArticleMain1{
                background-image: none;
                .DivMain1{
                    margin-top: 50px;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    width: auto;
                    height: auto;
                    background-image: none;
                    p{
                        font-size: 20px;
                        width: auto;
                        height: auto;
                    }
                    h1 {
                        color: black;
                        font-size: 35px;
                        width: auto;
                        height: auto;
                    }
                }
            }
            .ArticleMain2 {
                background-image: none;
                display: flex;
                text-align: center;
                height: auto;
                .DivMain2 {
                    margin-top: 60px;
                    margin-right: 0px;
                p{
                    font-size: 20px;
                }
                }
            }
        }
    }
}